version: 2
updates:
  - package-ecosystem: composer
    directory: "/"
    schedule:
      interval: weekly
      day: monday
      time: "06:00"
      timezone: "UTC"
    open-pull-requests-limit: 5
    labels:
      - dependencies
      - security
    groups:
      composer-minor-and-patch:
        patterns:
          - "*"
        update-types:
          - minor
          - patch
