################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
config/composer.local.json
config/async.settings.php
.phpunit.result.cache
.env
dbconnect.php

logs/*.log
