################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
config/composer.local.json
config/async.settings.php
.phpunit.result.cache
.env
dbconnect.php
dbconnect.php.borrowed-by-tests
dbconnect.php.left-by-killed-test-run

logs/*.log
