includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - phpstan-baseline.neon

parameters:
    level: 1
    paths:
        - src
        - src/Lotgd/Entity
    bootstrapFiles:
        - vendor/autoload.php
        - src/Lotgd/Config/constants.php
