<table border='0' cellpadding='0' cellspacing='0'>
    <tr>
        <td><img src='{{ template_path }}/assets/logindragon.gif' alt='Login dragon' class='noborder'></td>
    </tr>
    <tr>
        <td valign='center' align='center' class='noborder'>
            <table border='0'>
                <tr>
                    <td align='center'><label for='name'><font color='#ffff00'>{{ username|raw }}:</font></label></td>
                    <td align='center'><label for='password'><font color='#ffff00'>{{ password|raw }}:</font></label></td>
                </tr>
                <tr>
                    <td><input name='name' id="name" accesskey='u' size='10' autocomplete='username'></td>
                    <td><input name='password' id="password" accesskey='p' type='password' size='10' autocomplete='current-password'></td>
                </tr>
                <tr>
                    <td colspan='2' align='center'><input type='submit' value='{{ button|raw }}' class='button'><br></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
