/* CSS Document */
caption {
    white-space: nowrap;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
a{
    color: #0099FF;
    text-decoration: none;
}
a.nav {
    text-decoration: none;
    width: 181px;
    height: auto;
    padding: 1px;
    float: left;
    clear: none;
    border-top: thin solid #003366;
    border-bottom: thin solid #003366;
    border-right: thin none #003366;
    border-left: thin none #003366;
}
a:hover.nav {
    background-color: #003366;
    border-top: thin outset #003366;
    border-right: thin none #003366;
    border-bottom: thin outset #003366;
    border-left: thin none #003366;
}
a.navhilite {
    text-decoration: none;
    width: 150px;
    height: auto;
    padding: 1px;
    float: right;
    clear: none;
    color:#FFFF00;
    background-color: #330000;
    border-top: thin solid #330000;
    border-bottom: thin solid #330000;
    border-right: thin none #330000;
    border-left: thin none #330000;
}
a:hover.navhilite {
    background-color: #990000;
    border-top: thin outset #CC0000;
    border-right: thin none #CC0000;
    border-bottom: thin outset #CC0000;
    border-left: thin none #CC0000;
}
.navhelp {
    text-decoration: none;
    width: 181px;
    height: auto;
    padding: 1px;
    float: left;
    clear: none;
    border-top: thin solid #003366;
    border-bottom: thin solid #003366;
    border-right: thin none #003366;
    border-left: thin none #003366;
    cursor: default;
}
.navhead {
 text-decoration: none;
    width: 180px;
    border: thin #003366;
    height: auto;
    padding: 1px;
    line-height: 18px;
    float: left;
    clear: none;
/*  background-color: #000066; */
    font-weight: bold;
    color: #00CCFF;
    cursor: default;
    text-align: center;
}
table {
}
td.charinfo {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #009900;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
        cursor: default;
}
.navheadsub {
        text-decoration: none;
        width: 170px;
        border: thin #003366;
        height: auto;
        padding: 1px;
        line-height: 18px;
        float: left;
        clear: none;
        font-weight: bold;
        color: #00CCFF;
        cursor: default;
        margin-left: 10px;
}
td.charhead {
    background-color: #009900;
    border: none;
    cursor: default;
    color: #FFFF00;
}
table.charinfo {
    border: none;
    width: 182px;
}
td.pageheader {
    background-color: #333399;
    background-image: url(headbkg.GIF);
    height: 69px;
    padding-bottom: 0px;
}
td.popupheader {
    background-color: #333399;
    background-image: url(headbkg.GIF);
    height: 20px;
    padding: 0px;
}
td.noborder {
    border: none;
}
table.noborder {
    border: none;
}
input {
    background-color: #433828;
    border: 1px solid #806B4D;
    color: #CCCCCC;
}
.button {
font-family: verdana,arial,helvetica,sans-serif;
     font-size: 12px;
     color: #F8DB83;
     background-color: #6b563f;
     border-top: 1px solid #947356;
     border-left: 1px solid #947356;
     border-right: 1px solid #403225;
     border-bottom: 1px solid #403225;
}

.login-message {
    border: 2px solid #F8DB83;
    background-color: rgba(107, 86, 63, 0.35);
    padding: 0.75rem 1rem;
    margin-bottom: 0.75rem;
    font-size: 1.1em;
    border-radius: 4px;
}
.input {
    background-color: #433828;
    border: 1px solid #806B4D;
    color: #CCCCCC;
}
select {
    background-color: #433828;
    border: 1px solid #806B4D;
    color: #CCCCCC;
}
table.vitalinfo {
    background-color: #003300;
    border: 1px solid #000000;
    width: 182px;
}
table.nav {
    background-color: #003366;
    border: 1px solid #000000;
    width: 182px;
}
a.motd {
    text-decoration: none;
    text-align: center;
    color:#FF9900;
    width: 179px;
    height: 14px;
    padding: 1px;
    float: left;
    clear: none;
    background-color: #433828;
    border: thin solid #433828;
}
a:hover.motd {
    height: 14px;
    width: 179px;
    background-color: #806B4D;
    border: thin solid #FF9900;
}
a.hotmotd {
    text-decoration: none;
    text-align: center;
    color:#FF9900;
    width: 181px;
    height: auto;
    padding: 1px;
    float: left;
    clear: none;

    background-color: #806B4D;
    border-top: thin solid #FF9900;
    border-bottom: thin solid #FF9900;
    border-right: thin solid #FF9900;
    border-left: thin solid #FF9900;
}
.pagetitle {
    font-family: "Book Antiqua", fantasy, verdana;
    font-size: 20px;
    color: #FFFFFF;
}
td.footer {
        background-image: url(rule.gif);
        background-repeat: repeat-x;
        background-position: top;
}
.navhi {
    color: #00FF00;
    text-decoration: underline;
}

/* Translator Buttons styling */
a.t, a.thot {
    display: inline-block;
    width: 10px;
    height: 10px;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    margin-left: 2px;
    cursor: help;
    border: 1px solid #aaa;
}

/* Normal Button */
a.t {
    background-color: #555; /* less... conspicious */
    border-color: #888;
}

/* Hot Button, not translated */

a.thot {
    background-color: #c0392b; /* really red for "hot" */
    border-color: #e74c3c;
    font-weight: bold;
}

    /* Hover effects for translator buttons */
    a.t:hover, a.thot:hover {
        transform: scale(1.5);
        box-shadow: 0 0 4px #fff;
        z-index: 10;
    }

/* Hidden elements, for i.e. debug output */
.hidden {
    display: none;
}

/* Form Fields */
.formfield-value {
    word-break: break-all;
}

/* Clear debug output */
div.debug {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px dotted #000000;
    width: auto;
    height: auto;
    font-size: 10px;
}
