<table class="loginfull-table">
    <tr>
        <td class="noborder">
            <table class="loginfull-inner">
                <tr>
                    <td class="server-full-message">Server Full!</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
