<!--!popuphead-->
<!DOCTYPE html>
<html lang="{lang}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{meta_description}">
    <title>{title}</title>
    <link href="templates/puritanic_ai/puritanic_ai.css" rel="stylesheet" type="text/css">
    <link href="templates/common/colors.css" rel="stylesheet" type="text/css">
    {headscript}{script}
</head>
<body class='popup-body'>
    <table border='0' cellpadding='5' cellspacing='0' width='100%'>
        <tr>
            <td colspan='2' bgcolor='#222222' class='pageheader'>
                <table border='0' cellpadding='0' cellspacing='0' width='100%' class='noborder'>
                    <tr>
                        <td width='100%' class='noborder'><b>{title}</b><div style="float: right;"></div></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign='top' width='100%' class='main-content'>
                <!--!popupfoot-->
            </td>
        </tr>
        <tr>
            <td align='left' class='trhead'>{copyright}</td>
        </tr>
    </table>
</body>
</html>

<!--!header-->
<!DOCTYPE html>
<html lang="{lang}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{meta_description}">
    <title>{title}</title>
    <link href="templates/puritanic_ai/puritanic_ai.css" rel="stylesheet" type="text/css">
    <link href="templates/common/colors.css" rel="stylesheet" type="text/css">
    {headscript}{script}
</head>
<body class='main-body'> 
    <table border='0' cellpadding='0' cellspacing='0' width='100%'>
        <tr>
            <td>
                <table border=0 cellpadding=0 cellspacing=0 width='100%' class='noborder'>
                    <tr class='page-header'>
                        <td class='noborder pageheader-left' align='center'>
                            <table>
                                <tr>
                                    <td class='noborder motd' align='left' valign='bottom' width='50%'>&nbsp;&nbsp;<b>{motd}</b></td>
                                    <td class='noborder' align='right' width='50%' valign='bottom'><b>{petition}</b></td>
                                </tr>
                            </table>
                        </td>
                        <td align='center' class='noborder pageheader-center'>{title}</td>
                        <td class='noborder pageheader-right'>
                            <img src='templates/puritanic_ai/images/mail.gif' alt='' width='24' height='19'><b>{mail}</b>&nbsp;&nbsp;
	    		   {petitiondisplay}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                    <tr>
                        <td valign='top' width='200' class='sidebar-content'>
                            <div style='position: relative; top: -15;' align='center'>{navad}</div>
                            <div align="center" role='navigation'>{nav}</div>
                        </td>
                        <td valign='top' width="100%" class='main-content'>
                            <div style="float: right">{verticalad}</div>
                            {bodyad}
                            <!--!footer-->
                        </td>
                        <td valign='top' width='132' class='sidebar-content'>
                            {stats}
                            <br>
                            {paypal}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan='3'>
                <table width='100%' height='20'>
                    <tr>
                        <td align='center'></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan='3'>
                <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                    <tr>
                        <td colspan='3' height='10' align='center'></td>
                    </tr>
                    <tr>
                        <td width='12'></td>
                        <td valign='top'>
                            <table width='100%' class='colOtWhite'>
                                <tr>
                                    <td valign='top'>{copyright}<br/>Design: Puritanic AI theme  <a href='https://shinobilegends.com'>shinobilegends.com</a></td>
                                    <td valign='top' align='right'>{source}<br />{version}<br />({pagegen})</td>
                                </tr>
                            </table>
                        </td>
                        <td width='12'></td>
                    </tr>
                    <tr>
                        <td colspan='3' height='10' align='center'></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>

<!--!statstart-->
<table class="charinfo" width='150'>
    <!--!stathead-->
    <tr><td class='charhead' colspan='2'><b>{title}</b></td></tr>
    <!--!statrow-->
    <tr><td class='charinfo'><b>{title}</b></td><td class='charinfo'>{value}</td></tr>
    <!--!statbuff-->
    <tr><td class='charhead' colspan='2'><b>{title}:</b></td></tr>
    <tr><td class='charinfo' colspan='2'>{value}</td></tr>
    <!--!statend-->
</table>

<!--!navhead-->
<span class="navhead">&#151;{title}&#151;</span><br clear='all'>
<!--!navheadsub-->
<span class="navheadsub">&#172;{title}&#8976;</span><br clear='all'>
<!--!navhelp-->
<span class="navhelp">{text}</span><br clear='all'>
<!--!navitem--> <!-- accesskey attribute provides keyboard shortcuts for screen-reader users -->
<a href="{link}" {accesskey}class='nav' {popup}>{text}</a><br clear='all'>
<!--!petitioncount-->
<table class="petition-count" align='right'>
    <tr><td class='colOtWhite'>{petitioncount}</td></tr>
</table>
<!--!adwrapper-->
<table class="ad-wrapper">
    <tr><td>{content}</td></tr>
</table>
<!--!login-->
<table class="login-table" role='Login'>
    <tr>
        <td class="noborder">
            <table class="login-inner">
                <tr>
                    <td class="login-label"><label for='name'>{username}:</label></td>
                    <td class="login-label"><label for='password'>{password}:</label></td>
                </tr>
                <tr>
                    <td><input name='name' id='name' accesskey='u' size='10' autocomplete='username'></td>
                    <td><input name='password' id='password' accesskey='p' type='password' size='10' autocomplete='current-password'></td>
                </tr>
                <tr>
                    <td colspan='2' class="login-submit"><input type='submit' value='{button}' class='button'></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--!loginfull-->
<table class="loginfull-table">
    <tr>
        <td class="noborder">
            <table class="loginfull-inner">
                <tr>
                    <td class="server-full-message">Server Full!</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
